<app-toolbar [title]=" 'Registration' "></app-toolbar>

<ion-content class="ion-padding">

  <div *ngIf="msgError">
    <ion-note color="danger">{{msgError}}</ion-note>
  </div>

  <br>
  
<form [formGroup]="registerForm" (ngSubmit)="register()">
  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input formControlName="email"></ion-input>
    <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
      <ion-note *ngIf="registerForm.get('email').hasError('required')" color="danger">An Email is required</ion-note>
      <ion-note *ngIf="registerForm.get('email').hasError('email')" color="danger">An Email is needed here</ion-note>
    </div>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" formControlName="pswd"></ion-input>
    <div *ngIf="registerForm.get('pswd').invalid && (registerForm.get('pswd').dirty || registerForm.get('pswd').touched)">
      <ion-note *ngIf="registerForm.get('pswd').hasError('required')" color="danger">A Password is required</ion-note>
    </div>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Verify Password</ion-label>
    <ion-input type="password" formControlName="checkPswd"></ion-input>
    <div *ngIf="registerForm.get('checkPswd').invalid && (registerForm.get('checkPswd').dirty || registerForm.get('checkPswd').touched)">
      <ion-note *ngIf="registerForm.get('checkPswd').hasError('required')" color="danger">A Password is required</ion-note>
      <ion-note *ngIf="registerForm.get('checkPswd').hasError('repeatedPassword')" color="danger">Passwords are different.</ion-note>
    </div>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input type="text" formControlName="username"></ion-input>
    <div *ngIf="registerForm.get('username').invalid && (registerForm.get('username').dirty || registerForm.get('username').touched)">
      <ion-note *ngIf="registerForm.get('username').hasError('required')" color="danger">A Username is required</ion-note>
    </div>
  </ion-item>
  <br>
  
    <ion-button [disabled]="!registerForm.valid" type="submit">
      <ion-icon name="checkmark"></ion-icon>
        Register
    </ion-button>
  
</form>
</ion-content>
